<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/flowminer</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Gloryv31</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- Mapping classes -->
        <mapping class="com.netnimblelabs.flowminer.models.Users"/>
        <mapping class="com.netnimblelabs.flowminer.models.ProcessFile"/>
        <mapping class="com.netnimblelabs.flowminer.models.ProcessDiscoveryResult"/>
        <mapping class="com.netnimblelabs.flowminer.models.AnalysisResult"/>
        <mapping class="com.netnimblelabs.flowminer.models.PerformanceAnalysisResult"/>
        <mapping class="com.netnimblelabs.flowminer.models.PerformanceMapAnalysisResult"/>
        <mapping class="com.netnimblelabs.flowminer.models.ResourceUtilizationAnalysisResult"/>
        <mapping class="com.netnimblelabs.flowminer.models.FrequencyAnalysisResult"/>
        <mapping class="com.netnimblelabs.flowminer.models.BottleneckAnalysisResult"/>
        <mapping class="com.netnimblelabs.flowminer.models.ProcessOverviewResult"/>
        <mapping class="com.netnimblelabs.flowminer.models.QueryHistory"/>





        
    </session-factory>
</hibernate-configuration>
